@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@400;700&display=swap");
@import url("./assets/fonts/maison-eue-regular/stylesheet.css");
@import url("./assets/fonts/maison-neue-bold/stylesheet.css");

:root {
  --vinted-blue: #007782;
  --grey: rgb(117, 117, 117);
}

// GENERAL
* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  padding-top: 52px;
  width: 100vw;
  height: fit-content;
  font-family: "Maison Neue", sans-serif;
  font-size: 14px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 1.9rem;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 2.4rem;
  color: var(--vinted-blue);
  font-weight: bold;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  object-fit: cover;
}

:is(a, button, .uploadavatar, .upload):hover {
  cursor: pointer;
  transition: 25ms;
}

/* HEADER */
header {
  background-color: #ffffff;
  position: fixed;
  padding: 0 calc((100vw - 1024px) / 2);
  top: 0;
  height: 52px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;

  & img {
    width: 73px;
  }

  & > a,
  button,
  input {
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
  }

  input {
    border: none;
    width: 300px;
    text-align: left;
    background-color: #ececec;
  }

  & > button:first-of-type {
    border: 1px solid var(--vinted-blue);
    color: var(--vinted-blue);
    background-color: #ffffff;
    width: 200px;

    &:hover {
      background-color: #1799a5;
      color: #fff;
    }
  }

  & > a:last-of-type,
  button:last-of-type {
    background-color: var(--vinted-blue);
    color: #ffffff;
    border: none;
    &:hover {
      background-color: #1799a5;
    }
  }

  a:last-of-type {
    margin-right: 20px;
  }

  button.disconnect {
    background-color: rgb(163, 48, 48);
    border: none;
    color: #fff;

    &:hover {
      background-color: rgb(130, 28, 28);
    }
  }
}

// MODAL
.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

  & > div {
    background-color: #ffffff;
    padding: 20px 20px;
    border-radius: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffffff;
    border: none;
    font-weight: bold;
  }

  .close:hover {
    cursor: pointer;
  }

  form > button:first-of-type {
    border-radius: 10px;
    background-color: var(--vinted-blue);
    padding: 10px 30px;
    color: #ffffff;
    border: none;

    &:hover {
      background-color: #1799a5;
    }
  }
}

section.form {
  display: flex;
  width: 100%;
  padding: 0;

  button {
    background-color: #ffffff;
    border: none;
  }

  div {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  & > button {
    flex: 1;
    padding: 10px 0;
    border-radius: 10px 10px 0 0;
    background-color: #ebf1f2;
    color: grey;

    &:hover {
      background-color: #1799a5;
      box-shadow: 0 -5px 5px lightgrey;
      color: #fff;
    }

    &:disabled,
    &[disabled] {
      background-color: #fff;
      box-shadow: 0 -5px 5px lightgrey;
      z-index: 1;
      color: lightgrey;
    }
  }

  & + form {
    background-color: #ffffff;
    padding: 20px 10px;
    border-radius: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    input:not(#newsletter) {
      padding: 10px;
      margin: 10px;
      border-radius: 10px;
      border: 1px solid var(--vinted-blue);
      width: 80%;
    }

    section.uploadavatar {
      padding: 10px;
      margin: 10px;
      border-radius: 10px;
      width: 80%;
      border: 2px dashed lightgrey;

      &:hover {
        border-color: var(--vinted-blue);
      }
    }
  }

  p,
  & + form > button:last-of-type {
    color: var(--grey);
    font-size: 12px;
    padding: 0 20px;
    text-align: center;
    background-color: #fff;
  }

  & + form > button:last-of-type:hover {
    color: var(--vinted-blue);
    transition: 25ms;
  }
}

.smallscreen {
  display: none;
}

//  FOOTER
footer {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: var(--vinted-blue);

    &:hover {
      color: #1799a5;
    }
  }
}

@media (max-width: 1024px) {
  header {
    button {
      width: auto;
      padding: 10px 20px;
    }
  }
}

@media (max-width: 850px) {
  header {
    .bigscreen {
      display: none;
    }

    .smallscreen {
      display: inline;
      margin-right: 10px;
    }

    input {
      margin-right: 10px;
    }
  }
}

@media (max-width: 650px) {
  header {
    input {
      width: 180px;
    }
  }
}
